/*
Author: Beniamin Kwiek
Description: Css
Version: 0.0.1
*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

$rød: #cc6633;
$blå: #0099cc;
$turkis: #33cc99;
$mørkeblå: #003366;

    
nav ul {
    list-style-type: none;
    text-decoration:none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  
}

nav li {
    float: left;
}

nav li a {
    display: block;
  color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
 
    color: white;

}
nav li a:focus {
  color:white;
   outline: none;
}
.logoimg{
    height:100px;
    width:100px;
}
.menuitem {
    float:right;

     font-size: 19px;
  font-family: 'Raleway', sans-serif;

  margin-top: 40px;
  margin-left: 10px;
   margin-right: 20px;
}
.search{
    width:auto;
    height:500px;
    color:white;
   
    
  
}
   
.turkis{
    background-color:$turkis;
}

.backgroundimg{
background-image:url(../Pics/headerM.jpg);
    width:100%;
    height:600px;
    z-index:1;
    position:absolute;
    background-repeat:no-repeat;
// opacity:0.5;
// Skift opacity på bakgrunnsbilde ELLER finn en måte hvor child element ikke affekter parent element.
}
.black{
    background-color:black;
}
.blue{
    background-color:blue;
}
.size{
    height:80%;
        width:50%;
    margin-top:5%;
    
}
.minisize{
width:75%;
height:75%;

}
.result{
width:100%;
height:auto;
    border-bottom-style:solid;
    border-bottom-color:gray;
    padding-top:2%;
    border-bottom-width: thin;
    
}

.semer{
    margin-top:-5%;
    margin-bottom:5%;
}
.omoss{
width:95%;
height:auto;
    margin-top:10px;
 
}
.omoss img{
border-radius:50px;
}
.footer {
//Remove height, only for showing
   margin-top:5px;
    padding:10px;
    bottom: 0;
    width: 100%;
    background-color:$turkis;
    float:left;
}
.footer p {

}

.hideable{
    display:none;
}
.ShowLess{

    position: fixed;
    left: 45%;
    bottom: 0;
    height:10%;
    width: 10%;
    background-color: lightgray;
    text-align: center;
    display:none;
    border-radius: 50px;


}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px green; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: green; 
    -webkit-box-shadow: inset 0 0 6px green; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: green; 
}
.Imgcar{
    height:100%;
    width:100%;
    padding:5px;
}
.floater ul li{
    float:none;
    display:block;
    text-decoration:none;
}
.sealleknapp button{
    border-radius:50px;
}
.sitemap{
    float:right;
    text-decoration:none;
}
.float{
float:center;
}
.border{
    border-top-style:solid;
  
}
.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.collect{
    float:center;
}
.showbutton button {
    height: 55px;
    width: 55px;
    border: none;
    border-radius: 50px;

}
.showbutton button img {
    display: block;
    height: 59px;
    width: 43px;
}
.buttonmoretxt {
    font-size: 30px;
  margin-left:47%;
    font-weight: 900;
}
.kontakt ul li {
    list-style-type:none;
}
.kontakt h5{
   
    font-weight: 900;
}
.sitemap h5{
    font-weight: 900;

}
.bold{
    font-weight: bold;
}