/*
Author: Beniamin Kwiek
Description: Css
Version: 0.0.1
*/

/*Imported font*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

ul {
    list-style-type: none;
    text-decoration:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: white;
}

li a:focus {
    color:white;
    outline: none;
}

.logoimg{
    height:100px;
    width:100px;
}
.menuitem {
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    float: right;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 20px;
}
.search{
    width:auto;
    height:500px;
  
}
.show{
    width:auto;

margin-top:5px;
    height:400px; 
 
}
.show ul{
        list-style-type:none;
    margin: 0;
    padding: 0;


  
}
.show li{
    float:none;

}
.show button{
    height:50px;

   width:100px;

   
}
.backgroundimg {

    background-image: url(../Pics/headerM3.jpg);
// opacity:0.5;
// Skift opacity på bakgrunnsbilde ELLER finn en måte hvor child element ikke affekter parent element.
    
}

